* {
  margin: 0;
  padding: 0;
}

body{
  font-family: arial;
  background-color: #333333;
  color: #ffffff;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 980px;
  padding: 10px;
  border: 1px solid #666;
}

.section {
  margin: 10px 0;
}

.bottom-divider {
  border-bottom: 2px solid #afafaf;
  padding-bottom: 20px;
}

.sub-section {
  clear: both;
  margin-bottom: 1px;
}

.section,
.sub-section {
  width: 100%;
}

.column {
  float: left;
}

.column-center {
  min-width: 160px;
  text-align: center;
}

.column-right {
  float: right;
}

.sub-section-title {
  margin: 0 0 10px;
}

p {
  margin: 20px 0;
}

.table {
  display: table;
  margin: 10px 0 0;
  width: 100%;
}

.table-row {
  display: table-row;
  width: 100%;
}

.table-cell {
  display: table-cell;
  padding: 5px 0;
}

.table-cell:first-child {
  width: 30%;
}

.table-cell:last-child {
  width: 70%;
}

.table-cell:first-child label {
  font-weight: bold;
}

.table-cell:last-child label {
  margin-right: 10px;
}

.nested-table {
  margin: 0;
}

.nested-table .table-cell {
  color: #999;
  font-size: .9em;
  width: 200px;
}

#format-caption-container div {
  color: #9e9999;
  display: none;
  font-size: .9em;
  line-height: 1.4em;
  padding: 10px 0 15px;
  width: 100%;
}

.upload-note {
  max-width: 300px;
}

.byte-input {
  min-height: 160px;
  min-width: 360px;
}

.code-output {
  height: 200px;
  width: 100%;
}

.note {
  color: #CCCCCC;
  font-size: .9em;
  line-height: 1.4em;
  margin: 3px 0;
}

.file-input-entry {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button,
input[type="file"] {
  background: #B7410E; /* Color code name is Rust :P */
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: .9em;
  font-weight: bold;
  margin: 10px 0 0 0;
  padding: 4px 8px;
}

input[type="file"] {
  font-size: 1.0em;
  padding: 6px 20px;
}

.generate-button {
  margin: 40px 0 20px;
}

.remove-button {
  margin: 0 0 0 10px;
  padding: 1px 4px;
}

.file-info {
  color: #9e9999;
  font-size: .7em;
  margin-left: 20px;
  max-width: 300px;
  white-space: pre;
}

.size-input{
  width: 45px;
}

.glyph-input {
  width: 80px;
  margin-left: 10px;
}

#image-size-settings {
  list-style-type: none;
}

#image-size-settings li {
  margin: 4px 0;
}

#images-canvas-container canvas {
  border: 1px solid #ccc;
  margin: 10px 15px;
}

#images-canvas-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

#arduino-identifier,
#adafruit-gfx-settings,
#all-same-size {
  display: none;
}

.msg {
  font-size: 1.2em;
}

.error-msg {
  color: #ff0000;
  display: none;
}

h1{
  padding: 10px;
  color: white;
}

textarea{
  background-color: #333;
  color: #f0f0f0;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: #B7410E;
}

.main-title {
  margin: 0;
}

.left-title-bar {
  font-size: 14px;
  color: #ffffff;
}

.left-title-bar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;  
}
 

.left-title-bar a:hover {
  text-decoration: underline;
}
